/*
Algumas informações úteis e dicas:
  - Fontes disponíveis:
    font-family: 'Roboto', sans-serif;
    font-family: 'Permanent Marker', cursive;
  - Cores:
    Tons de amarelo:
      #e4fc2b
      #e0d426
      #f7d736
      #e0af26
      #fcb02b
    Tons de cinza:
      #2c2c2c
      #4c4c4c
    Cores dos cards:
      #ead3a7
      #9de0f5
      #ef89ba
      #fae890
      #abe9c1
  - Sombra: https://codepen.io/sdthornton/pen/wBZdXq
 */

html,
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #2c2c2c;
}

/*1*/

.appbar {
  display: flex;
  align-items: center;
  min-height: 60px;
  background-color: #f7d736;
  padding: 1px 5px;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16), 0 -1px 0px rgba(0, 0, 0, 0.02);
  position: relative;
  z-index: 1;
}
 
.logo {
  height: 40px;
  width: auto;
  margin-right: 12px;
}
 
.subtitle {
  font-size: 15px;
  color: #2c2c2c;
}

/*2*/

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*3*/

/* ===== Formulário ===== */
.form-card {
  box-sizing: border-box;
  width: 572px;
  max-width: 100%;
  padding: 12px 11px 11px;
  margin-bottom: 40px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: #ffffff;
  border-radius: 5px;
  /* Sombra: https://codepen.io/sdthornton/pen/wBZdXq */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.form-card-title {
  padding: 0;
  border: none;
  outline: none;

  font-family: "Roboto", sans-serif;
  font-size: 22px;
  color: #4c4c4c;
}

.form-card textarea {
  box-sizing: border-box;
  height: 18px;
  padding: 0;
  border: none;
  outline: none;
  resize: none;

  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #4c4c4c;
}

/* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
.btn {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px 15px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #f7d736;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;

  transition: background-color 0.3s;
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 200%;
  padding-top: 200%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}



 
/* Você pode usar o CSS comentado abaixo, se ajudar */
/* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
/* .btn {
  position: relative;
  display: block;
  padding: 10px 15px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #f7d736;

  transition: background-color 0.3s;
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
} */
